main {
  background: url('./assets/background.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh;

}

header{
  height: 200px;
  background: url('./assets/Header.png');
  filter:saturate(100%)contrast(100%) drop-shadow(12px, 10px, 12px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}
.content{
  display: grid;
  grid-template-columns: 200px 3fr;
}
.navicon{

}