main {
  background: url('./assets/background.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh;

}

header{
  height: 200px;
  background: url('./assets/Header.png');
  background-position: center;
  background-repeat: no-repeat;
}
.content{
  display: grid;
  grid-template-columns: 200px 3fr;
}