@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url("https://use.typekit.net/dqr6asu.css");
main {
  background: url('./assets/background.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh;

}

header{
  text-align: center;
  color:whitesmoke;
  text-shadow: black 2px 3px 12px;
  font-size: 5rem;
  font-family: flyswim, sans-serif;
  font-weight: 400;
  font-style:normal;
  position: relative;
  padding-inline-start: 20px;
  z-index: 1005;
  height: 200px;
  
}
.content{
  display: grid;
  grid-template-columns: 65px 3fr;
}

footer{
  width:100%;
  position: fixed;
  bottom:0;
  display:flex;
  justify-content: flex-end;
}
.logout-button{
  background:rgba(255, 255, 255, 0.486);
  width:auto;
  font-size:1rem;
  position: fixed;
  z-index: 1009;
  right:0;
  bottom:0;
  
}

i {
  content: "\00a0";
}


