.favorite-content{
    display: flex;
    flex-wrap: wrap;
}
.favorite-box{
    display: flex;
    max-width: 400px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.486);
    box-shadow: 0 0 15px 4px rgba(100, 76, 76, 0.5);
    padding:10px;
}

.recipe-img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 15px;
    box-shadow: 0 0 15px 4px rgba(100, 76, 76, 0.5);
    margin-right:5px;
}

.recipe-name {
    font-size: larger;
    font-family: 'Sriracha', cursive;
}

ul{
    list-style: none;
    padding-inline-start: 10px;
}

li{
    padding-bottom: 5px;
    font-weight: 600;

}

.search-button{
    box-shadow: 0 0 15px 4px rgba(100, 76, 76, 0.5);
    cursor: pointer;
    border-radius: 4px;
    background: transparent;
    font-size: 1.25rem;
    margin-left: 15px;
    background:rgba(255, 255, 255, 0.486);
    width:auto;
    font-size:1.2rem;
}