.home-button {
    box-shadow: 0 0 15px 4px rgba(100, 76, 76, 0.5);
    cursor: pointer;
    border-radius: 4px;
    background: transparent;
    font-size: 1.25rem;
    margin-left: 15px;
    background:rgba(255, 255, 255, 0.486);
    width:auto;
    font-size:1rem;
    min-width: 100px;
    min-height: 50px;
}

.banner {
    color: white;
    text-shadow: black 2px 2px 4px;
    font-family: 'Sriracha', cursive;
    margin-bottom: -25px;
}

.home-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}